.wrapper{
    width: 75px !important;
    height: 75px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    margin: 2px;
    color: inherit;
}

.wrapper:hover{
    cursor: pointer;
    background-color:var(--backColor-tab-hover);
    color: var(--color-tab-hover);
}

.wrapper_active{
    color: var(--color-tab-active);
    background-color: var(--backColor-tab-active) !important;
}

.icon{
    font-size: 29px !important;
    margin-bottom: 2px;
}

.title{
    margin: 0px !important;
    font-size: 11px;
    font-weight: 600 !important;
}

.iconAdd{
    font-size: 40px;
    color: var(--light-purple);
}

.userImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
